*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    text-size-adjust: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    font-size: 1rem;
}

img{
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    display: inline-block;
}